* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.box {
    width: 100%;
}

.tou {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    height: 100px;
    background-color: white;
    box-shadow: 1px 2px 3px 4px rgba(20, 20, 20, 0.4);
}

.tou ul {
    line-height: 100px;
    display: flex;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

.tou img {
    max-width: 400px;
    align-items: right;
    text-align: left;
    padding: 20px;
}

.tou li a {
    display: block;
    color: rgb(249, 134, 10);
    padding: 0 85px;
    font-size: 20px;
}

.container {
    max-width: 800px;
    /*Maximum page width is 800px*/
    /*页面最大宽度为800px*/
    margin: 0 auto;
    /*Page horizontal center display*/
    /*页面水平居中显示*/
    padding: 20px;
    /*The inside margin is 20px*/
    /*内边距为20px*/
}

.title {
    font-size: 24px;
    /*Font size 24px*/
    /*字体大小24px*/
    font-weight: bold;
    /*Bold*/
    /*加粗*/
    text-align: center;
    /*Center align*/
    /*居中对齐*/
    margin-bottom: 20px;
    /*Bottom margin is 20px*/
    /*下边距为20px*/
    display: flex;
    padding: 30px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
    height: 60px;
    background-color: rgb(254, 138, 48);
}

.content {
    text-align: justify;
    margin-bottom: 20px;
}

.divider {
    border-top: 1px solid #ccc;
    /*The style of the divider is 1px solid line*/
    /*分割线的的样式，为1px的实线*/
    margin-bottom: 20px;
    /*Bottom margin is 20px*/
    /*下边距为20px*/
}

.recommendation {
    font-weight: bold;
    /*Bold*/
    /*加粗*/
    margin-bottom: 10px;
    /*Bottom margin is 10px*/
    /*下边距为10px*/
    display: flex;
    padding: 30px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
    height: 60px;
    background-color: rgb(254, 138, 48);
}

.restaurant {
    margin-bottom: 20px;
    /*Bottom margin is 20px*/
    /*下边距为20px*/
    padding: 100px;
}

.restaurant p {
    font-size: 20px;
}

.restaurant img {
    width: 500px;
    /*Width is 200px*/
    /*宽度为200px*/
    height: 400px;
    /*The height is 150px*/
    /*高度为150px*/
    object-fit: cover;
    /*Fill mode is overlay*/
    /*填充方式为覆盖*/
    margin-right: 10px;
    /*The right margin is 10px*/
    /*右边距为10px*/
    margin-bottom: 10px;
    /*Bottom margin is 10px*/
    /*下边距为10px*/
}

nav ul {
    font-size: large;
    list-style: none;
    text-align: center;
    background-color: #fd902a;
    padding: 20px;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.contact {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    padding: 13px;
    height: 210px;
    background-color: rgb(250, 147, 30);
    color: white;
}

.contact h3 {
    font-size: 25px;
    color: antiquewhite;
    line-height: 35px;
}

.contact h4 {
    font-size: 15px;
    line-height: 23px;
}

.contact img {
    height: 80px;
    margin: 55px;
}

.con {
    width: 300px;
    padding: 20px;
}